<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UseWPF>true</UseWPF>
    <Nullable>enable</Nullable>
    <OutputType>Library</OutputType>
  </PropertyGroup>

  <ItemGroup>
    <!-- Reference VEO3 SDK từ main project -->
    <Reference Include="subphimv1">
      <HintPath>..\..\subphimv1\bin\x64\Debug\net8.0-windows\AIOLauncher.dll</HintPath>
      <Private>false</Private>
    </Reference>
  </ItemGroup>

</Project>
